# .NET Framework / Visual Studio files
bin/
obj/
*.user
*.suo
*.userprefs
*.pidb
*.userprefs
*.DS_Store
[Dd]ebug/
[Rr]elease/
*.exe
*.dll
*.pdb
*.cache
*.log

# Visual Studio
.vs/
*.sln.docstates
*.log
TestResults/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# MSBuild Binary and Structured Log
*.binlog

# NuGet
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# IDE and Editor files
.vscode/
.idea/
