[submodule "qmltermwidget"]
	path = qmltermwidget
	url = https://github.com/Swordfish90/qmltermwidget
	branch = unstable
[submodule "singleapplication"]
	path = singleapplication
	url = https://github.com/itay-grudev/SingleApplication.git
