[Desktop Entry]
Comment=Use the command line the old way
Exec=/opt/cool-retro-term/start.sh
GenericName=Terminal emulator
Icon=/opt/cool-retro-term/cool-retro-term.png
Name=Cool Retro Term
Categories=System;TerminalEmulator;
StartupNotify=true
Terminal=false
Type=Application
Keywords=shell;prompt;command;commandline;
