[Desktop Entry]
Comment=Use the command line the old way
Exec=cool-retro-term
GenericName=Terminal emulator
Icon=cool-retro-term
Name=Cool Retro Term
Categories=System;TerminalEmulator;
StartupNotify=true
Terminal=false
Type=Application
Keywords=shell;prompt;command;commandline;
