Source: konsole-qml-plugin
Section: libs
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9.0.0),
#               libgl1-mesa-dev | libgl-dev,
#               libgles2-mesa-dev
               qtbase5-dev,
               qtdeclarative5-dev,
               qt5-default,
Standards-Version: 3.9.4
Homepage: http://konsole.kde.org/

Package: qtdeclarative5-konsole-qml-plugin
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: KDE Konsole QML plugin - qml terminal plugin 
 Originaly, Konsole is a terminal emulator from KDE. This is ported
 version and do not require KDE.
 .
 This package contains the Konsole terminal emulator plugin
 for Qt Qml, which offers access to terminal by KTerminal and
 KSession elements. KTerminal is used for displaying information
 given by KSession.


#Package: konsole-qml-plugin-dbg
#Priority: extra
#Architecture: any
#Section: debug
#Depends: ${misc:Depends}
#Description: KDE Konsole QML plugin debugging symbols
# Originaly, Konsole is a terminal emulator from KDE. This is ported
# version without KDE tails and do not require KDE.
# .
# This package contains the debugging symbols for the KDE Konsole
# QML plugin.

