name: Build DMG

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-dmg:
    name: Build (macOS, DMG)
    runs-on: macos-14
    permissions:
      contents: read
      id-token: write
      attestations: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: 6.10.*
          modules: qt5compat qtshadertools
          setup-python: true
          python-version: '3.11'
          cache: true

      - name: Build DMG
        run: |
          JOBS="$(sysctl -n hw.ncpu)"
          ./scripts/build-dmg.sh

      - name: Collect artifact
        run: |
          mkdir -p release
          mv ./*.dmg release/

      - name: Attestation
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: ./release/*

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: cool-retro-term-dmg
          path: ./release/*
